.modalLayout {
  width: 600px;
  height: 530px;
  border-radius: 10px;
  background-color: var(--background-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.signupForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 85%;
  padding: 1rem 1.5rem;
  background-color: var(--primary-color);

  button {
    background-color: var(--primary-color-stronger);
  }
}

.svgDiv {
  display: flex;
  align-items: right;
  justify-content: end;
  padding: 10px 10px 0 0;
  width: 100%;

  svg {
    cursor: pointer;
  }
}

.namesInputs {
  display: flex;
  flex-wrap: wrap;
  gap: 11px;
}

.passwordError {
  position: absolute;
  top: 242px;
  left: 320px;

  font-size: 0.7rem;
  color: rgb(255, 61, 61);
}

.birthdayGenderSpeciesInputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 1.5rem 0;

  label {
    p {
      font-size: 1.1rem;
      margin: 0 0 8px 4px;
    }
  }

  select {
    background-color: #d9d9d9;
    padding: 5%;
    border-radius: .5rem;
    width: 100px;
    height: 40px;

  }
}

.speciesLabel {
  select {
    width: 200px;
  }
}

.checkboxInput {
  align-self: start;

  input {
    margin: 0 .5rem 2rem .5rem;
    transform: scale(1.5)
  }
}

.linkToComeback {
  height: 100%;
}

a:last-child {
  display: block;
  text-align: center;
  font-size: 1rem;
}



@media (max-width: 615px) {
  .modalLayout {
    width: 95%;
    height: auto;
    padding: 20px;
  }

  .checkboxInput {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 10px;
    margin-bottom: 10px;

    input {
      width: 16px;
      height: 16px;
      margin: 0;
      transform: none;
    }

    span {
      width: 100%;
    }
  }

  .namesInputs {
    input {
      width: 100% !important;
    }
  }

  .birthdayGenderSpeciesInputs {
    * {
      width: 100% !important;
    }
    flex-direction: column;
    gap: 10px;

    label {
      p {
        font-size: .9rem;
      }
    }

    input {
      width: 100% !important;
    }
  }

  .genderLabel {
    select {
      width: 100%;
      padding: 0 10px;
    }
  }
  .speciesLabel {
    select {
      width: 100%;
      padding: 0 10px;
    }
  }
}